/*blue4*/
.header-wrapper  .sf-menu > li {background-color: rgba(68, 82, 92, 1);}
.header-wrapper .sf-menu li.active {background-color: rgba(68, 82, 92, 1);}

.progress .progress-bar{
    background-color: #8f9193;
}
figure.effect-rch:hover {
    background-color: rgba(68, 82, 92, 0.8);
}

.wide .page-section.color{
    background-color: #44525c;
}

.section-title .title-inner {   
    background: -webkit-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: -moz-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: -o-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: linear-gradient(45deg, transparent 26px, #44525c 0%);    
}
.section-title .title-inner:before { 
  background: linear-gradient(45deg, transparent 50%, #8f9193 22%);
}
.color .section-title .title-inner.curl-bottom-left{
    background: -webkit-linear-gradient(45deg, transparent 26px, #8f9193 0%);
    background: -moz-linear-gradient(45deg, transparent 26px, #8f9193 0%);
    background: -o-linear-gradient(45deg, transparent 26px, #8f9193 0%);
    background: linear-gradient(45deg, transparent 26px, #8f9193 0%); 
}
.color .section-title .title-inner:before { 
  background: linear-gradient(45deg, transparent 50%, #44525c 22%);
}
.btn-theme {
    color: #ffffff;
    background-color: #44525c;
    border-color: #44525c;
}
.btn-theme:hover {
    background-color: #8f9193;
    border-color: #8f9193;
    color: #44525c;
}
.color .btn-theme {
    color: #44525c;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-theme-transparent,
.btn-theme-transparent:focus,
.btn-theme-transparent:active{
    border-color: #44525c;
    color: #44525c;
}
.btn-theme-rch {
  color: #ffffff;
  background-color: #44525c;
}
.btn-theme-rch:hover, .btn-theme-rch:focus {
  background: linear-gradient(45deg, transparent 17px, rgba(142, 145, 147, 0.80) 0);
  color: #44525c;
}
.color .btn-theme-rch {
  color: #ffffff;
  background-color: #44525c;
}
.color .btn-theme-rch:hover, .color .btn-theme-rch:focus {
  background: linear-gradient(45deg, transparent 10%, rgba(142, 145, 147, 0.80) 11%, rgba(142, 145, 147, 0.80) 50%, rgba(142, 145, 147, 0.80) 100%);
  color: #44525c;
}
.color .yellow:hover {
  background: linear-gradient(45deg, transparent 10%, rgba(142, 145, 147, 0.80) 11%, rgba(142, 145, 147, 0.80) 50%, rgba(142, 145, 147, 0.80) 100%);
  color: #44525c;
}
.form-control:focus {
    border-color: #44525c;
}
.circle{ color:#8f9193 !important}
.header-wrapper .sf-menu li:hover {
       color:#44525c;
       background: -webkit-linear-gradient(bottom left, transparent 8%, rgba(142, 145, 147, 1) 9%, rgba(142, 145, 147, 1) 50%, rgba(142, 145, 147, 1) 100%);
       background: -o-linear-gradient(bottom left, transparent 8%, rgba(142, 145, 147, 1) 9%, rgba(142, 145, 147, 1) 50%, rgba(142, 145, 147, 1) 100%);
       background: linear-gradient(to top right, transparent 8%, rgba(142, 145, 147, 1) 9%, rgba(142, 145, 147, 1) 50%, rgba(142, 145, 147, 1) 100%);
}   
.header-wrapper .sf-menu li:hover i ,.header-wrapper .sf-menu li:hover span{ color:#44525c;}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #44525c;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #44525c;
}
@media (max-width: 991px) {
    .mobile-submenu {
        background-color: #44525c;
    }
}


#offers .outer-box:hover .icon{
    background: #8f9193;
    color: #44525c;
}

.class-table.featured {
    background: rgba(142, 145, 147, 1);
}
.schedule-tabs.main {
    background-color: #44525c;
    color: #ffffff;
}
.schedule-wrapper .schedule-tabs.main .nav > li.active:before {
    border-top: 20px solid #44525c;
}

.comments-form .block-title {
    color: #44525c !important;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #44525c;
    color: #ffffff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #44525c;
    border-color: #44525c;
}
.widget.categories li.active a,
.widget.categories li a:hover {
    background-color: #44525c;
    color: #ffffff;
}
.tag-cloud a:hover {
    background-color: rgba(142, 145, 147, 1);
    color: #44525c;
    border-color: #44525c;
}
.testimonials .owl-controls .owl-next,.testimonials .owl-controls .owl-prev{
    color: #44525c!important;
}
.testimonial blockquote i{
    color: #44525c;
}
.color .testimonials.owl-theme .owl-dots .owl-dot span {
    background-color: #44525c;
}
.sidebar .widget-title {
    color: #44525c;
}
.widget-title:before {
    background-color: #44525c;
}
div.dark_square{
    background: -webkit-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: -o-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: linear-gradient(45deg, transparent 26px, #44525c 0%);
}
div.dark_square:after{
    background: linear-gradient(45deg, transparent 49%, #8f9193 22%);
}


.social-line a:hover {
    background: linear-gradient(45deg, transparent 16px, rgba(142, 145, 147, 0.80) 11%, rgba(142, 145, 147, 0.80) 50%, rgba(142, 145, 147, 0.80) 100%);
    color: #44525c;
}

.price-value {
    color: #44525c;
}

#gallery figure:hover a{
    color: #8f9193;
}
#gallery figure:hover a > i{
    border:10px solid #8f9193;
}    
figure.effect-rch .overlay{
    background: -webkit-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: -o-linear-gradient(45deg, transparent 26px, #44525c 0%);
    background: linear-gradient(45deg, transparent 26px, #44525c 0%); 
}
figure.effect-rch figcaption::before {
    border-left: 3px solid #8f9193;
}
.gallery.effect-rch.curl-bottom-left:hover:before{    
    background: linear-gradient(45deg, transparent 24px, #8f9193 0%);
}

.page-section.color.colorbg3 .icon-box i{
    background: #44525c;
}
.post-title a:hover {color: #44525c;}
.post-header .post-meta {color: #44525c; }
.post-header .post-meta a,
.post-header .post-meta .fa {color: #435469;}
.post-header .post-meta a:hover {color: #44525c;}
.about-the-author .media-heading {
    color: #44525c;
}
.container.gmap-background .on-gmap.color {
    background-color: #44525c;
}
.to-top {
    background-color: #44525c;
}
.to-top:hover {
    background-color: rgba(142, 145, 147, 0.80);
    color: #44525c;
}
.btn-preview-light,
.btn-preview-light:hover {
    background-color: #44525c;
}
.curl-bottom-left:before {
  background: linear-gradient(45deg, transparent 45%, #44525c 50%, #44525c 56%, #44525c 100%);
}
.team figure.effect-rch .overlay{       
    background:#435469;         
}

#blog .date{
    background: #8f9193;
    color: #435469;
}
#blog .blog-rate .active{ color:#8f9193; } 
.progress .progress-bar { 
    background-color: #8f9193;
}       
.progress{      
    background-color: #435469;      
}
.price-table.featured .price-value{
    background: #8f9193;
}
.price-table.featured .price-table-header.curl-top-left:before {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(143, 145, 147,1) 49%, rgba(143, 145, 147,1) 50%, rgba(143, 145, 147,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(255,255,255,1)), color-stop(49%,rgba(143, 145, 147,1)), color-stop(50%,rgba(143, 145, 147,1)), color-stop(100%,rgba(143, 145, 147,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(143, 145, 147,1) 49%,rgba(143, 145, 147,1) 50%,rgba(143, 145, 147,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(143, 145, 147,1) 49%,rgba(143, 145, 147,1) 50%,rgba(143, 145, 147,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(143, 145, 147,1) 49%,rgba(143, 145, 147,1) 50%,rgba(143, 145, 147,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(143, 145, 147,1) 49%,rgba(143, 145, 147,1) 50%,rgba(143, 145, 147,1) 100%); /* W3C */
}
